@import 'variables';

* {
	box-sizing: border-box;
}

.bg-main {
	background-color: $main;
}

a,
button {
	cursor: pointer;
}
button.btn {
	text-overflow: ellipsis;
}
a:hover {
	text-decoration: none;
	color: $secondary;
}
section {
	min-height: 600px;
}
